<div class="col-md-12 column-layout">
    <div class="container-fluid middle-container">
        <div class="row">
            <div class="bg-container">
                <div class="customer-data-title box">
                    <div class="customer-data-title-items customer-data-title-icon" style="width: 5%; padding: 0">
                        <span class="summary-icon"></span>
                    </div>
                    <div class="customer-data-title-items customer-data-title-label" style="padding-top: 10px; width: 95%">
                        <span>INFÓRMALE AL CLIENTE</span>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="company" class="label-cp">En caso se mantenga las condiciones actuales, se emitarán los siguientes recibos</label>
                            <div class="row" style="margin-bottom: 10px;">
                                <div class="col-sm-6">
                                    <div class="col-sm-12" style="background: #837F7F; border-radius: 5px; height:auto; padding: 10px">
                                        <div class="col-sm-6">
                                            <span style="font-weight: bold; font-size: 18px; color: #FFFFFF; ">Siguiente Recibo</span>
                                        </div>
                                        <div class="col-sm-6">
                                            <span style="font-weight: bold; font-size: 18px; color: #FFFFFF; float: right;" id="spnSiguienteRecibo">S/ 0.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="col-sm-12" style="background: #837F7F; border-radius: 5px; height:auto; padding: 10px">
                                        <div class="col-sm-6">
                                            <span style="font-weight: bold; font-size: 18px; color: #FFFFFF; ">Cargo al 2do Mes</span>
                                        </div>
                                        <div class="col-sm-6">
                                            <span style="font-weight: bold; font-size: 18px; color: #FFFFFF; float: right; " id="spnCargoSegundoMes">S/ 0.00</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="col-sm-12" style="background: #837F7F; border-radius: 5px; height:auto; padding: 10px">
                                        <div class="col-sm-6">
                                            <span style="font-weight: bold; font-size: 18px; color: #FFFFFF; ">Cargo al 3er Mes</span>
                                        </div>
                                        <div class="col-sm-6">
                                            <span style="font-weight: bold; font-size: 18px; color: #FFFFFF; float: right; " id="spnCargoTercerMes">S/ 0.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/Content/Lib/BloqueoF12")